* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background-color: rgb(102, 33, 193);
}

.container {
  width: 850px;
  background-color: aliceblue;
  display: flex;
  gap: 70px;
  align-items: flex-end;
  border-radius: 10px;
  padding: 60px 40px;
}

.hangman-box img {
  max-width: 270px;
}

.hangman-box h1 {
  font-size: 1.45rem;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.word-display {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.word-display .letter {
  width: 28px;
  border-bottom: 3px solid black;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.word-display .letter.guessed {
  border-color: transparent;
  margin: -40px 0 35px;
}

.game-box h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.game-box h4 b {
  font-weight: 600;
}

.game-box .guesses-text b {
  color: rgb(255, 0, 0);
}

.game-box .keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 40px;
  justify-content: center;
}

:where(.game-modal, .keyboard) button {
  color: aliceblue;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  background-color: #5e63ba;
  text-transform: uppercase;
}

.keyboard button {
  padding: 7px;
  width: calc(100% / 9 - 5px);
  pointer-events: auto;
  z-index: 20;
}
:where(.game-modal, .keyboard) button:hover {
  background-color: #989bdf;
  border: 1px solid black;
  color: #230330;
  pointer-events: auto;
}

.game-modal {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.6);
}

.game-modal .content {
  background-color: white;
  max-width: 420px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
}
.game-modal img {
  max-width: 130px;
  margin-bottom: 20px;
}

.game-modal h4 {
  font-size: 1.53rem;
}

.game-modal p {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 15px 0 30px;
}

.game-modal p b {
  color: #5e63ba;
  font-weight: 600;
}

.game-modal button {
  padding: 12px 23px;
}
@media (max-width: 782px) {
  .container {
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
  }

  .hangman-box img {
    max-width: 200px;
  }

  .hangman-box h1 {
    display: none;
  }
}
